@model Cinema.Models.Hall

@{
    ViewData["Title"] = "Create Hall";
}

<h1>Create Hall</h1>

<h4>Hall</h4>
<hr />

<div class="text-danger">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
</div>

<form asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="Name" class="control-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Rows" class="control-label"></label>
        <input asp-for="Rows" class="form-control" />
        <span asp-validation-for="Rows" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Columns" class="control-label"></label>
        <input asp-for="Columns" class="form-control" />
        <span asp-validation-for="Columns" class="text-danger"></span>
    </div>

    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
