html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}




.screen-indicator {
    width: 600px;
    margin: 0 auto;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 2px;
    background-color: #6c757d;
    color: white;
    padding: 8px;
    border-radius: 8px;
    user-select: none;
    text-align: center;
}

.seat-grid-wrapper {
    display: flex;
    flex-direction: column;
    gap: 4px; 
    justify-content: center;
    align-items: center;
}


.seat-row {
    display: flex;
    gap: 4px; 
}

.seat-btn {
    width: 50px;
    height: 40px;
    text-align: center;
    padding: 0;
    font-size: 12px;
    box-sizing: border-box;
    background-color: transparent;
    border: 1px solid #198754;
    color: #198754;
    transition: background-color 0.2s, color 0.2s;
    cursor: pointer;
}

    .seat-btn.seat-selected {
        background-color: #198754; /* зелен фон */
        color: white; /* бял текст */
        border-color: #198754;
    }

    .seat-btn:disabled {
        background-color: #dc3545; /* червен фон за заетите места */
        color: white;
        border-color: #dc3545;
        pointer-events: none;
    }


/* Admin Sidebar Styles */
#adminSidebar {
    transition: transform 0.3s ease;
    position: relative;
    z-index: 1;
}

#mainContent {
    position: relative;
    z-index: 2;
}

@media (max-width: 768px) {
    #adminSidebar {
        transform: translateX(-100%);
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        z-index: 1000;
        width: 200px;
        background-color: #f8f9fa;
    }

        #adminSidebar.show {
            transform: translateX(0);
        }

    #mainContent {
        margin-left: 0;
    }
}