body {
    background: linear-gradient(to bottom, #0d0d0d, #1a1a1a, #262626);
    color: #f1f1f1;
}

/* Контейнер за Success */
.success-container {
    padding: 20px;
}

/* Карта */
.success-card {
    max-width: 600px;
    border-radius: 15px;
    background-color: #2f2f2f;
    box-shadow: 0 4px 20px rgba(0,0,0,0.6);
    animation: fadeInUp 0.8s ease-out forwards;
}

/* Fade-in + slide-up анимация */
@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Заглавия и текст */
h2 {
    color: #F5D38C;
}

p {
    color: white;
}

/* Бутон Primary */
.btn-confirm {
    background-color: #e3ae42 ;
    border: 2px solid #e3ae42;
    color: #0B0C1D;
    font-weight: 600;
    transition: all 0.3s ease-in-out;
}

    .btn-confirm:hover {
        background-color: #c9972d;
        border-color: #c9972d;
        color: #fff;
    }

/* Линк към профила в златно */
.success-card p a.text-gold {
    color: #F5D38C !important;
}

    .success-card p a.text-gold:hover {
        text-decoration: underline;
    }