@{
    ViewData["Title"] = "Success";
}

<div class="alert alert-success mt-4">
    <h2>Your ticket is reserved!</h2>
    <p>You can see it in <a asp-controller="Profile" asp-action="Index">your profile</a>.</p>
</div>

